body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/login.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .container {
    display: flex;
    justify-content: center;
  }
  
  .form {
    background-color: #f7f3ce;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 300px;
    animation: fade-in 1s ease-in-out;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 20px;
  }
  
  input {
    width: 93%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f6f6f6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #4f4f4f;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
