<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form">
            <h2>Welcome Back</h2>
            <h5>Login Here</h5>
            <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        
                <div class="input-container">
                    <label for="username">Username</label>
                    <input
                        required
                        type="text"
                        name="username"
                        [(ngModel)]="form.username"
                        #username="ngModel">
                    </div>
                    <div class="input-container">
                        <label for="password">Password</label>
                        <input type="password"
                               name="password"
                               [(ngModel)]="form.password"
                               required
                               #password="ngModel">
                    </div>
                <button type="submit" routerLink="">LOGIN</button>
                <button routerLink="/register">REGISTER</button>
            </form>
        </div>
    </div>
</body>
</html>
